@font-face {
    font-family: 'GilbeotRainbow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/GilbeotRainbow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h3 {
font-family: 'GilbeotRainbow';
}


.modal-backdrop{
display: none; /* 모달 주변의 회색빛 사용안함 */
}